@model UserViewModel;


<h1>User Registration</h1>

<div class="container">

    <div class="row">
        <form method="post" asp-action="Registration" asp-controller="User">
            <div class="col-md-6  offset-3">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                //25 Nov 2022
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="@Model.EmailId"></label>
                    <input type="text" asp-for="@Model.EmailId" class="form-control" />
                    <span asp-validation-for="@Model.EmailId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.MobileNumber"></label>
                    <input asp-for="@Model.MobileNumber" class="form-control" />
                    <span asp-validation-for="@Model.MobileNumber" class="text-danger"></span>
                </div>


                //25 Nov 2022
                @*<div class="form-group">
                    <label asp-for="@Model.Gender"></label>

                    <select asp-for="@Model.Gender" class="form-control" asp-items="new SelectList(ViewBag.GenderOptions)">
                    <option value="">-Select Gender-</option>
                    </select>
                    <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                    </div>*@


                @* <div class="form-group">
                    <label asp-for="@Model.Gender"></label>

                    <select asp-for="@Model.Gender" class="form-control" asp-items="ViewBag.GenderOptions">
                    <option value="">-Select Gender-</option>
                    </select>
                    <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                    </div>*@



                <div class="form-group">
                    <label asp-for="@Model.Gender"></label>



                    <select asp-for="@Model.Gender" class="form-control">
                        <option value="">-Select Gender-</option>

                        @{
                            foreach (var gender in ViewBag.GenderOptions)
                            {
                                <option value="@gender.Id">@gender.Name</option>
                            }
                        }

                    </select>

                    <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                </div>




                <div class="form-group">
                    Physically Challanged
                    @{
                        foreach (var item in ViewBag.PhysicallyChallangedOptions)
                        {
                            <label asp-for="Physicallychallanged">
                                <input type="radio" name="Physicallychallanged" value="@item">
                                @item
                            </label>

                        }
                    }






                    <span asp-validation-for="@Model.Age" class="text-danger"></span>
                </div>




                <div class="form-group">
                    <label asp-for="@Model.Address"></label>
                    <input asp-for="@Model.Address" class="form-control" />
                </div>


                <div class="form-group">
                    <label asp-for="@Model.Age"></label>
                    <input asp-for="@Model.Age" class="form-control" />
                    <span asp-validation-for="@Model.Age" class="text-danger"></span>
                </div>
                //25 Nov 2022
                <div class="form-group">
                    <label>
                        <input type="checkbox" asp-for="@Model.IsTermsAndConditionsChecked" />
                        Terms and Conditions
                    </label>
                    <span asp-validation-for="@Model.IsTermsAndConditionsChecked" class="text-danger"></span>

                </div>


                <div class="form-group">
                    <button class="btn btn-primary">Submit</button>

                </div>

            </div>
        </form>
    </div>
</div>


